// .fade-appear {}
.wrapper {
  margin-top: 130px;
  width: 80%;
  margin: 0 auto;
  border-radius: 46px;

  height: 200px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

// .fade-appear-active {}
.hellow {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  box-shadow: 0 0 3px #000;
  opacity: 1;
  transform: translateY(0);
  transition: all 250ms ease-in;
  font-size: 20px;
  font-weight: 500;
}

.fade-appear-done {}

.fade-enter,
.fade-appear {
  opacity: 1;
  // 两边需要设置成一样的值
  transform: translateY(0);
  // transform: scale(0.9);
}

.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 250ms ease-in;
}

.fade-enter-done {
  opacity: 1;
  box-shadow: 0 0 5px rgb(54, 158, 243);
  color: rgb(255, 171, 4);
  transform: translateY(-60px);
  transition: all 250ms ease-in;
}

.fade-exit {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 250ms ease-in;
}

.fade-exit-active {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 250ms ease-in;
}

.fade-exit-done {
  transform: translateY(0);
  opacity: 1;
}